In [1]:
import pandas as pd
import numpy as np

In [12]:
weather=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/인공지능팀플/sw.csv", encoding='cp949')
weather=weather.drop(['지점'], axis=1)
weather

     지점명                일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0     서울  2021-09-01 01:00    18.6      0.8      3.7     99     NaN
1     서울  2021-09-01 02:00    18.5      NaN      2.9     98     NaN
2     서울  2021-09-01 03:00    18.7      NaN      2.8     97     NaN
3     서울  2021-09-01 04:00    18.8      NaN      3.3     96     NaN
4     서울  2021-09-01 05:00    18.9      NaN      4.0     95     NaN
...   ..               ...     ...      ...      ...    ...     ...
8754  서울  2022-08-31 19:00    23.5      NaN      2.0     75     NaN
8755  서울  2022-08-31 20:00    22.4      NaN      2.0     80     NaN
8756  서울  2022-08-31 21:00    21.7      NaN      1.6     81     NaN
8757  서울  2022-08-31 22:00    21.1      NaN      1.0     83     NaN
8758  서울  2022-08-31 23:00    20.8      NaN      0.7     87     NaN

[8759 rows x 7 columns]

In [13]:
weather.columns=['region', 'date', 'temperature', 'rainfall', 'wind_speed', 'humidity', 'snowfall']

In [14]:
weather=weather.fillna(0)
weather

,region,date,temperature,rainfall,wind_speed,humidity,snowfall
0,서울,2021-09-01 01:00,18.6,0.8,3.7,99,0.0
1,서울,2021-09-01 02:00,18.5,0.0,2.9,98,0.0
2,서울,2021-09-01 03:00,18.7,0.0,2.8,97,0.0
3,서울,2021-09-01 04:00,18.8,0.0,3.3,96,0.0
4,서울,2021-09-01 05:00,18.9,0.0,4.0,95,0.0
...,...,...,...,...,...,...,...
8754,서울,2022-08-31 19:00,23.5,0.0,2.0,75,0.0
8755,서울,2022-08-31 20:00,22.4,0.0,2.0,80,0.0
8756,서울,2022-08-31 21:00,21.7,0.0,1.6,81,0.0
8757,서울,2022-08-31 22:00,21.1,0.0,1.0,83,0.0
8758,서울,2022-08-31 23:00,20.8,0.0,0.7,87,0.0

In [15]:
weather = weather[weather['date'].str.contains('7:00|8:00|9:00')]
weather = weather[~weather['date'].str.contains('17:00|18:00|19:00')]
weather

,region,date,temperature,rainfall,wind_speed,humidity,snowfall
6,서울,2021-09-01 07:00,19.3,0.0,3.3,94,0.0
7,서울,2021-09-01 08:00,19.6,0.0,3.3,92,0.0
8,서울,2021-09-01 09:00,20.1,0.0,3.5,90,0.0
30,서울,2021-09-02 07:00,20.8,0.0,2.5,78,0.0
31,서울,2021-09-02 08:00,21.4,0.0,3.1,74,0.0
...,...,...,...,...,...,...,...
8719,서울,2022-08-30 08:00,18.0,2.8,2.9,99,0.0
8720,서울,2022-08-30 09:00,18.2,2.3,2.3,99,0.0
8742,서울,2022-08-31 07:00,19.6,0.0,0.8,93,0.0
8743,서울,2022-08-31 08:00,19.9,0.0,1.7,92,0.0
8744,서울,2022-08-31 09:00,20.3,0.0,1.6,91,0.0

In [16]:
import os
os.chdir("/content/drive/MyDrive/Colab Notebooks/인공지능팀플")
weather.to_csv("Seoul_weather.csv", index=False)